.container
	.row
		.col-xs-5
			pile(container="player", name="battle")
		.col-xs-2
			action(name="Battle!")
		.col-xs-5
			pile.pull-right(container="opponent", name="battle")
	br
	.row
		.col-xs-5
			pile(container="player", name="down")
		.col-xs-7
			pile.pull-right(container="opponent", name="down")
	


